.USP{
    width : 100%;
    padding : 50px 80px;
    background-color : #f8f8f8;
    .USPHeading{
        font-family : 'Avenir Heavy', 'Roboto', sans-serif;
        font-size : 2.2rem;
    }
    .USPDiv{
        width : 100%;
        padding : 45px 0px;
        display : flex;
        justify-content: space-between;
        flex-wrap : wrap;
        .USPItem{
            display : flex;
            align-items: center;
            .USPItemText{
                display : flex;
                flex-direction: column;
                margin-left : 20px;
                :nth-child(1){
                    font-family: 'Avenir Heavy', 'Roboto', sans-serif;
                }
                :nth-child(2){
                    font-family: 'Avenir';
                    color : #5a5a5a;
                }
                :nth-child(3){
                    font-family: 'Avenir';
                    color : #5a5a5a;
                }
            }
        }
    }
}

@media(max-width : 576px) {
    .USP{
        padding : 40px 30px;
        display : flex;
        flex-direction: column;
        align-items: center;
        .USPHeading{
            text-align: center;
            width : 100%;
        }
        .USPDiv{
            padding : 30px 0px;
            flex-direction: column;
            align-items: center;
            .USPItem{
                padding : 20px 0px;
            }
        }
    }
}