.Categories{
    width : 100%;
    display : flex;
    flex-direction : column;
    padding : 50px 50px;
    .Heading{
        font-family : 'Avenir Heavy', 'Roboto', sans-serif;
        font-size : 2rem;
        margin-left : 50px;

    }
    .CategoriesMain{
        margin-top : 40px;
        width : 100%;
        display : flex;
        flex-wrap : wrap;
        align-items: center;
        justify-content: center;
        .MainCards{
            display : flex;
            width : auto;
        }
    }
}

@media(max-width : 576px) {
    .Categories{
        padding : 50px 10px;
        .Heading{
            text-align: center;
        }
        .CategoriesMain{
            justify-content: space-evenly;
        }
    }
}