.Container{
    width : 390px; 
    height : 190px;
    margin-left : 20px;
    display : flex;
    align-items: center;
    padding : 10px;
    margin-top : 10px;
    // margin : 0px;
    // background-color : coral;
    .Icon{
        width : 130px;
        height : 130px;
        border-radius : 8px;
        overflow: hidden;
        display : flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
        }
    }
    .Details{
        // background-color : coral;
        display : flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding : 10px 10px 20px 20px;
        height : 70%;
        .Name{
            font-family : 'Avenir Heavy';
            font-size : 1.2rem;
        }
        .Location{
            color : rgba(0,0,0,0.5);
        }
        .Discount{
            color : #00b246;
            font-family : 'AvenirNextW10-Medium';
        }
    }
}

@media(max-width : 576px) {
    .Container{
        width : 100%;
        padding : 10px 15px 10px 15px;
        margin-left : 0px;
        margin-top : -40px;
        .Icon{
            width : 90px;
            height : 90px;
        }
        .Details{
            .Name{
                font-size : 1rem;
            }
            .Delivery{
                font-size : 0.9rem;
            }
            .Location{
                font-size : 0.8rem;
            }
        }
    }
}