.HomepageTop {
  width: 100%;
  height: 130vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2ff29), to(#fde237));
  background-image: linear-gradient(to bottom, #f2ff29, #fde237);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 100px;
}

.HomepageTop .BG {
  position: absolute;
  height: 80%;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}

.HomepageTop .MainText {
  font-family: 'Avenir';
  width: 450px;
  font-size: 3rem;
  position: relative;
  z-index: 10;
}

.HomepageTop .Highlite {
  font-family: 'Avenir Heavy';
}

.HomepageTop .Rectangle {
  margin-top: 50px;
  width: 700px;
  height: 80px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.HomepageTop .Rectangle .SearchDiv {
  width: 46%;
  position: relative;
}

.HomepageTop .Rectangle .SearchDiv input {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 1.2rem;
  margin-left: 30px;
  padding: 10px 2%;
}

.HomepageTop .Rectangle .SearchDiv .AutocompleteContainer {
  position: absolute;
  border-top: solid 1px #b5b5b5;
  margin-top: 10px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.179);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.179);
}

.HomepageTop .Rectangle .SearchDiv .AutocompleteContainer .SuggestionItem {
  padding: 15px;
  font-family: 'Avenir';
  width: 700px;
  background-color: white;
}

.HomepageTop .Rectangle .SearchDiv .AutocompleteContainer .SuggestionItem:hover {
  cursor: pointer;
}

.HomepageTop .Rectangle .SearchDiv .AutocompleteContainer .SuggestionItemActive {
  padding: 15px;
  font-family: 'Avenir';
  width: 700px;
  background-color: #f2f2f2;
}

.HomepageTop .Rectangle .SearchDiv .AutocompleteContainer .SuggestionItemActive:hover {
  cursor: pointer;
}

.HomepageTop .Rectangle .Locate {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HomepageTop .Rectangle .Locate span {
  color: #00b246;
  font-size: 1.5rem;
  margin-left: 10px;
}

.HomepageTop .Rectangle .Locate:hover {
  cursor: pointer;
}

.HomepageTop .Rectangle .ProceedButton {
  color: white;
  border: none;
  background-color: black;
  height: 66px;
  padding: 0px 30px;
  border-radius: 10px;
  margin-right: 7px;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HomepageTop .Rectangle .ProceedButton:hover {
  cursor: pointer;
}

.HomepageTop .Frequent {
  margin-top: 10px;
  font-size: 1.2rem;
}

.HomepageTop .Frequent :nth-child(2) {
  font-family: 'Avenir Heavy';
}

@media (max-width: 1030px) {
  .HomepageTop .Rectangle {
    width: 500px;
  }
  .HomepageTop .Rectangle input {
    width: 35%;
    font-size: 0.8rem;
  }
  .HomepageTop .Rectangle .Locate {
    width: 30%;
  }
  .HomepageTop .Rectangle .Locate span {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .HomepageTop {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
    height: 100vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: hidden;
  }
  .HomepageTop .BG {
    left: 0px;
    height: 70%;
  }
  .HomepageTop .MainText {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    margin: 0px;
    margin-top: 30%;
  }
  .HomepageTop .Rectangle {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    height: auto;
    padding: 20px;
    margin-top: 30%;
  }
  .HomepageTop .Rectangle input {
    width: 100%;
    padding: 10px 10px;
    font-size: 1.2rem;
    margin: 0px;
    margin-bottom: 10px;
  }
  .HomepageTop .Rectangle .Locate {
    width: 55%;
    margin: 0px;
    padding: 5px;
  }
  .HomepageTop .Rectangle .Locate span {
    font-size: 1.2rem;
  }
  .HomepageTop .Rectangle .ProceedButton {
    width: 45%;
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;
    height: 50px;
  }
  .HomepageTop .Frequent {
    z-index: 10;
    width: 100%;
    font-size: 1rem;
    padding: 0px 20px;
  }
}
/*# sourceMappingURL=HomepageTop.module.css.map */