.MobileSection{
    background-color : #00b246;
    display : flex;
    overflow: hidden;
    .Left{
        width : 50%;
        padding : 80px 90px;
        display : flex;
        flex-direction: column;
        justify-content: center;
        position : relative;
        .Title{
            color : white;
            font-family : 'Avenir Heavy';
            font-size : 2.5rem;
            position : relative;
            z-index: 10;
        }
        .SubText{
            color : white;
            font-family : 'Avenir';
            font-size : 2rem;
            margin-top : 10px;
            position : relative;
            z-index: 10;
        }
        .Icons{
            display : flex;
            margin-top : 30px;
            position : relative;
            z-index: 10;
            img{
                width : 200px;
            }
        }
        .Circle1{
            width : 80px;
            height : 80px;
            position : absolute;
            background-color : #00bd4a;
            border-radius: 50%;
            z-index : 0;
            top : 30px;
            right : 160px;
        }
        .Circle2{
            width : 250px;
            height : 250px;
            position : absolute;
            background-color : #00bd4a;
            border-radius: 50%;
            z-index : 0;
            bottom : -200px;
            right : 0px;
        }
        .Circle3{

            position : absolute;
            background-color : #00bd4a;
            border-radius: 50%;
            z-index : 0;
            top : -100px;
            left : -100px;
            img{
                width : 250px;
                height : 250px;
            }
        }
    }
    .Right{
        width : 50%;
        display : flex;
        align-items: center;
        img{
            width : 100%;
        }
    }
}


@media(max-width : 576px) {
    .MobileSection{
        flex-direction: column-reverse;
        .Left{
            width : 100%;
            padding : 40px 20px;
            .Title{
                font-size : 2rem;
            }
            .SubText{
                font-size : 1.5rem;
            }
            .Icons{
                img{
                    width : 150px;
                }
            }
            .Circle1{
                // display : none;
            }
            .Circle2{
                top : 15px;
                right : -100px;
                // display : none;
            }
            .Circle3{
                bottom : 0px;
                right : 0px;
                display : none;
            }
        }
        .Right{
            width : 100%;
            z-index: 10;
        }
    }
}